<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <hr>
  
  <div>
    <%= form.fields_for :posts do |post_form| %>
      <div>
        <%= post_form.check_box :_destroy %>
      </div>

      <div>
        <%= post_form.label :title %>
        <%= post_form.text_field :title %>
      </div>
      <div>
        <%= post_form.label :description %>
        <%= post_form.text_area :description %>
      </div>
    <% end %>
  </div>

  <hr>

  <div>
    <%= form.submit %>
  </div>
<% end %>
